#canvas {
    background-color: dodgerblue;
    max-height: 1250px;
    max-width: 1000px;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    border: 2px solid blue;
}

.scoreContainer {
    // border: 2px solid red;
    // height: 5%;
    position: absolute;
    top: 2%;
    left: 25%;
}

h1 {
    color: white;
}
